<div class="container">
    <div class="p-1 border">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-12">
                <app-count></app-count>
            </div>
            <div class="col-md-7 col-sm-7 col-12">
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-5 col-12 margin-top-10">
                <ul *ngIf="statusList.length > 0" [ngClass]="statusList.length > 5 ? 'scroll' : ''">
                    <li *ngFor="let time of statusList" [@fadeInOut]><span class="font-weight-bold">{{time}}</span></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-12 margin-top-10">
                <div class="text-center p-2">
                    <h1>{{startCtr}}</h1>
                    <p class="font-weight-bold">Started </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-12 margin-top-10">
                <div class="text-center p-2">
                    <h1>{{pauseCtr}}</h1>
                    <p class="font-weight-bold">Paused</p>
                </div>
            </div>
        </div>
    </div>
</div>