<div class="border inner-wrapper">
    <div class="row">
        <div class="col-md-4 col-sm-4 font-weight-bold"><label for="timerLimit1">Enter Timer
                Limit</label></div>
        <div class="col-md-8 col-sm-8">
            <input id="timerLimit1" type="number" name='timerLimit' [(ngModel)]="timerLimit"
                class="form-control" (ngModelChange)="modelChanged($event)"
                aria-describedby="timerLimit">
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-4 offset-md-4 col-md-8 col-sm-8 margin-top-10 col-12">
            <div role="group" aria-label="Basic example">
                <button *ngIf="!isStarted" type="button" class="btn btn-success" (click)="start(true)"
                    [disabled]="countDown === 0">Start</button>
                <button *ngIf="isStarted" type="button" class="btn btn-danger" (click)="pause(false)"
                    [disabled]="countDown === 0">Pause</button>
                <button type="button" class="btn btn-secondary margin-left-15"
                    (click)="reset()">Reset</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 margin-top-20">
            <ul *ngIf="paused.length > 0" [ngClass]="paused.length > 6 ? 'scroll' : ''">
                <li *ngFor="let time of paused" [@fadeInOut]><span class="font-weight-bold">{{time}}</span></li>
            </ul>
        </div>
    </div>
</div>